doctype html
html
  head
    title= title
    meta(name="app-version" content="1.02")
    meta(name="description" content="A simple interface (and api) to calculate the score of any cribbage hand. No fuss! No muss!")
    link(rel="stylesheet", href="/stylesheets/style.css")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
    script(src="/javascripts/rest.js")
  body
    block content
